/* --- LAYOUT CHUNG --- */
.proc-main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--bg-color);
    padding: 20px;

    /* set up cho animation */
    opacity: 0;
    transform: translateY(20px);
    animation: pageFadeIn 0.3s ease-out forwards;
}

@keyframes pageFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.proc-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1400px; 
    gap: 40px;
}

/* --- LEFT PANEL (LAPTOP) --- */
.left-panel {
    flex: 1;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

/* KHUNG BAO QUANH ẢNH LAPTOP (QUAN TRỌNG ĐỂ CĂN CHỮ) */
.laptop-wrapper {
    position: relative;
    width: fit-content; 
    display: flex; 
    justify-content: center;
    margin-top: 50px;
    margin-right: 100px;
}

.laptop-img {
    width: 100%;
    max-width: 480px;
    height: auto;
    display: block;
    filter: drop-shadow(0 20px 20px rgba(0,0,0,0.25));
}

.screen-overlay {
    position: absolute;
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    
    width: 80%; 
    text-align: center;
    z-index: 10;
}

.code-text {
    font-family: 'Courier Prime', monospace;
    font-size: 27px; 
    color: var(--text-blue);
    font-weight: 700;
    transform: translateY(20px);

    display: inline-block;
    white-space: nowrap;
    width: auto;
    min-width: 0;
}

/* --- RIGHT PANEL (LIST) --- */
.right-panel {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin-top: -15px;
}

.overlay {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 250px;
}

/* ================= SEARCH BAR ================= */
.search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 2px solid rgba(20, 35, 76, 0.1);
    padding-bottom: 10px;
    gap: 10px;
}

.search-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    width: 600px;
    height: 40px;
    padding: 0 15px;

    background-color: var(--panel-bg);
    border-radius: 25px;
    border: 2px solid var(--text-blue);
}

.search-icon {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    opacity: 0.6;
}

#search-input {
    flex: 1;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-dark);
}

.clear-btn {
    all: unset;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#14234C;
    opacity: 0.6;
}

.return_img {
    width: 40px;
    height: 40px;
}

.reload_img {
    width: 40px;
    height: 40px;
}

/* List Items */
.process-list-container {
    width: 600px;
    height: 500px;
    background-color: var(--nav-bg);
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);

    display: flex;
    flex-direction: column;
    padding: 20px;

    font-family: 'Inter', sans-serif;
    color: white;

    margin-top: 60px;
}

.process-items-wrapper {
    flex-grow: 1;
    background-color: var(--bg-color);
    border-radius: 8px;
    padding: 10px;
    overflow-y: auto;
}

.process-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.process-item {
    padding: 10px;
    border-bottom: 0.5px solid var(--text-blue);
    border-top: 0.5px solid var(--text-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: var(--text-dark);
}

.process-item.empty {
    font-size: 18px;
    font-weight: 700;
    border-bottom: none;
    border-top: none;
    text-align: center;
    color: var(--text-dark);
    padding: 20px 20px;
}

.proc-left {
    display: flex; align-items: center; font-weight: 700; flex: 2; gap: 5px; color: var(--text-dark);
}

.bullet { font-weight: 700; color: var(--text-dark); }

.proc-pid {
    flex: 1.5; text-align: right; color: var(--text-blue); font-weight: 500; margin-right: 30px;
}

.proc-actions { display: flex; gap: 15px; align-items: center; }

/* Start/Stop Buttons */
.action-btn {
    background: none; border: none; cursor: pointer; padding: 0;
    transition: all 0.3s ease; opacity: 1;
}

/* Footer Pagination */
.change_page {
    display: flex;
    align-items: center;     
    justify-content: center;  
    gap: 15px;                
    margin-top: 20px;
}

.nav-square {
    border: none;
    display: flex;
    justify-content: center; 
    align-items: center;    
    border: none !important;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    color: var(--text-dark);
    font-weight: bold;
}

.nav-square:disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: var(--disabled);
    border-color: var(--disabled);
    opacity: 0.5;
}

.nav-square:focus {
    outline: none;
}

.left_img {
    width: 30px;
    height: 30px;
    transform: translateY(-2px);
}

.right_img {
    width: 30px;
    height: 30px;
    transform: translateY(-2px);
}

#page-indicator {
    flex-grow: 1;  
    max-width: 100px;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    font-weight: 600;
    color: var(--text-dark);
}

/* Responsive */
@media (max-width: 900px) {
    .proc-content-wrapper { flex-direction: column; }
    .left-panel { justify-content: center; margin-bottom: 30px; }
    .code-text { font-size: 22px; }
}